@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10f608;
    --secondary-color: #EEEEEE;
    --tertiary-color: #b7dff6;
    --bg-color: #202124;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--secondary-color);
    font-family: "Quicksand", sans-serif;
}

header {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: static;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--bg-color);
    gap: 1rem;
}

header h1 {
    padding-right: 18%;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
}

div input {
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid var(--tertiary-color);
    background: var(--bg-color);
    font-family: inherit;
    font-size: 1.5rem;
    transition: all 0.2s ease;
    width: 30rem;
    color: var(--secondary-color);
    margin-right: .5rem;
}

div input::placeholder {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--tertiary-color);
}

div input:focus {
    outline: none;
    border-color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
}

#botao-busca {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: 1px solid var(--bg-color);
}

#botao-busca:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

#botao-busca:active {
    transform: scale(0.98);
}

main {
    padding: 0 1rem;
    min-height: calc(100vh - 8rem);
    margin: 0 auto;
}

#tags{
    color: yellow;
}

main{
    background: url(Fundo_site.jpg);
    background-size: cover;
    background-attachment: fixed;
}

article {
    padding: 0;
    margin-bottom: 0;
}

.card-container {
    display: grid;
    grid-template-areas: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 1.5rem;
    padding: 2rem 0;
    padding-right: 40%;
    align-items: start;
    max-width: 1300px;
    margin: 0 auto;
}

.card {
    background: #fcfbfb18;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.986);
    transition: transform 180ms ease, box-shadow 0.18s ease;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
}

.card:hover {
    transform: scale(1.03);
    position: relative;
    z-index: 6;
    box-shadow: 0 12px 30px rgba(7, 232, 90, 0.889);
    background: #0d0c0ccc;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    margin-bottom: 0.5rem;
}

.card.expanded img {
    height: auto;
    max-height: 420px;
    object-fit: contain;
    margin-bottom: 0.75rem;
}

.card.expanded {
    max-width: 900px;
    width: 100%;
    height: auto;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.card-container.few-results {
    justify-items: center;
}
.card-container.few-results .card {
    width: auto;
    max-width: 700px;
}

/*.card.expanded img {
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.card h2 {
    font-size: 1.8rem;
    margin: 0.25rem 0 0.25rem 0;
    color: var(--primary-color);
}

.card p {
    margin: 0.2rem 0;
    font-size: 1rem;
    color: var(--tertiary-color);
}

.card p strong {
    color: var(--tertiary-color);
    font-weight: 1000;
}

.card a {
    margin-top: auto;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.footer {
    /*position:;*/
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--tertiary-color);
    background-color: var(--bg-color);
    padding: 15px 20px;
    border-top: 1px solid #3c4043;
    font-size: 0.8rem;
}

.footer-location {
    color: #9aa0a6;
    margin-bottom: 10px;
     font-size: 1rem;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    font-size: 1.5rem;
}

.footer-links a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.2s;
    
}

.footer-links a:hover {
    color: var(--accent-color);
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    header h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    div input {
        width: 90vw;
        font-size: 1.2rem;
    }

    main {
        padding: 0 1rem;
    }

    article:hover {
        transform: none;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1rem;
        max-width: 70%;
        word-wrap: break-word;
    }

    div input,
    div input::placeholder {
        font-size: 1rem;
    }

    article h2 {
        font-size: 1.3rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer {
        display: none;
    }

    button {
        margin-top: 1rem;
    }

}
